$color_letas:  rgb(255, 255, 255);
$color_fondo: black;
$tipo_letra: Arial, sans-serif;
$tamano_letra: 17px;
$tamano_video: 95%;
$vision_contenido: 85%;
$alineacion_texto: center;
$deco_texto: none;
$posicion_menu: relative;
$tamano_menu: 50px;
$tamano_width_menu: 100%;
$tamano_icono: 35px;